<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todas las Certificaciones</title>
   
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<style>
    .check {
        width:20px;
        height:20px;
        
    }
</style>
</head>
<body>

<br>
        
        <div class="row  animated  bounceInDown delay-2s">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card blue darken-4 text-center z-depth-4" style="border: 2px solid white; border-radius: 50px;" >
                <div class="card-body">
                <h2 class="text-center white-text">TODOS LOS MODELOS DE {{institucion}}</h2>
               
                </div>
            </div>
        </div>
       
        <div class="col-md-3"></div>
        </div>
</br>
    <form action="GenerateCard.php"  onsubmit="loading();" method="post">
        
        <div class="row animated  bounceInUp delay-2s" style="padding: 15px;" id="container">
           
  
        
        </div>
        <div class="row" style="margin-top: 30px;">
        
            <div class="col-md-12">
                <center><input type="submit" value="Generar Documentos"    class=" btn red accent-4 white-text waves-effect btn-lg "/></center>
            </div>
        
    </form>
        
<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
      <center><img src="../Views/load.svg" width="150" alt=""></center><br>
      <h5 class="text-center">Generando documentos ...</h5>
      <p class="text-center">Este proceso tardara varios segundos</p>
      </div>
      
    </div>
  </div>
</div>
        
</body>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script>
    var row = '';
        fetch('/api/documentos/{{proceso}}', {
            method: 'GET'
        }) 
        .then(res => res.json())
        .then( (data) => {
             $('#container').empty();
            for(const key in data['documentos']){
                
                   console.log(data['documentos'][key]);
                  row += '<div style="padding: 25px;"  class="col-md-4">'+
                        '<input type="hidden"  />'+
                        '<input type="hidden"  value="<?php echo $no_solicitud?>"/>'+
                        '<input type="hidden" value="{{institucion}}"/>'+
                        '<input type="checkbox" id="'+data['documentos'][key].id+'" style="visibility: hidden;"  class="check"  />'+
                         '<div class="card text-center" id="div'+data['documentos'][key].id+'"  onclick="check('+"'"+''+data['documentos'][key].id+''+"'"+')">'+
                            '<div class="card-header blue darken-4 white-text">'+
                                '<strong style="margin-left: 40px;">'+data['documentos'][key].categoria+'<i id="icon'+data['documentos'][key].id+'" style="visibility: hidden;" class="fa fa-check green-text fa-2x" aria-hidden="true"></i></strong> '+
                            '</div>'+
                            '<div class="card-body">'+
                                '<h5 class="card-title">'+data['documentos'][key].nmcategoria+'</h5>'+
                                '<p class="card-text">Puede editar el modelo#'+data['documentos'][key].id+' antes de generar</p>'+
                                '<a href="editCertif.php?id=&solicitud=<?php echo $no_solicitud?>&institucion={{institucion}}" class="btn  red accent-4 white-text btn-sm">Editar</a>'+
                            '</div>'+
                            '<div class="card-footer text-muted blue darken-4 white-text">'+
                                '<p class="mb-0">'+data['documentos'][key].nombre+'</p>'+
                            '</div>'+
                        '</div>'+
                '</div>'
                   
                 $('#container').append(row);

                row="";
                }

           
             
        })

       
        
    
    function check(id){
        
        var div = document.getElementById('div'+id);
        var icon = document.getElementById('icon'+id);
        var value = document.getElementById(id).checked;
        document.getElementById(id).checked = !value;

        if(value){
            div.className = " card text-center animated  bounce delay-1s"
            icon.style.visibility = "hidden";

        }else{
            
            div.className = " card text-center animated  bounceIn delay-2s"
            icon.style.visibility = "visible";
        }
    }

    function loading() {
        $('#basicExampleModal').modal('show')
    }
</script>
</html>