<div class="container">
       <center>
            <img class="animated  bounceInDown delay-2s" src="https://www.semanadamulherbemresolvida.com.br/wp-content/uploads/2018/02/checkmark.gif" alt="correcto"/>
            <br/><br/>
            <h2 class="animated  bounceInUp delay-2s">el modelo {{institucion}} fue creado correctamente!</h2>
            
            <a href="/newCert/{{institucion}}" style="background-color: #78B347"class="animated white-text  bounceInUp delay-2s btn  btn-lg">Crear nueva Certificacion {{institucion}}</a>
       </center>
</div>