
    
    <div  style="padding-left: 30px; padding-right: 30px; padding-top: 10px">
    
        <div class="row border" >
            
            <div class="col-md-9" style="padding: 10px;">
            
               
                        
                     
                    <textarea  name="content" id="content" rows="20" cols="20">
                    
                    </textarea>
                    
                    
                
            </div>
            
            <div class="col-md-3"  style="padding: 10px; background-color: white;   border-right: 3px solid #0d47a1; border-top: 3px solid #0d47a1; border-bottom: 3px solid #0d47a1;  border-radius: 25px;">
                    
                   
                        <select name="category" id="category" class="form-control">
                       
                            
                        
                        </select><br>

                <input type="hidden" id="institucion" name="institucion" class="form-control" value="{{id}}"/>
                <input type="text" id="nombre" name="nombre" class="form-control"placeholder="nombre" />
                <hr/>
                <input type="text" id="proceso" name="proceso" class="form-control"placeholder="ID del proceso" />
                <hr>
                <input type="text"id="myInput" onkeyup="buscar()"  class="form-control" placeholder="buscar variable.."/>
                <div id="buscador">
                <ul id="myUL" >
                

                   
                    
                
                </ul>
                
                </div>
                <br>
                <center><button id="btnGuardar" onClick="Form()" class="btn white-text red accent-4 btn-block">Guardar</button></center>
            </div>
        </div>
        
    </div>

    <script type="text/javascript">

       

        function Form(){
            
            var btnGuardar = document.getElementById('btnGuardar');
            var confirm = window.confirm("esta seguro de guardar los cambios?");

            if(confirm){
                btnGuardar.disabled = true;
                var proceso = document.getElementById('proceso').value;
                var institucion = document.getElementById('institucion').value;
                var categoria = document.getElementById('category').value;
                var content = CKEDITOR.instances.content.getData();
                var nmcategoria = document.getElementById('category');
                var namecate = nmcategoria.options[nmcategoria.selectedIndex].text;
                var nombre = document.getElementById('nombre').value;
                documentos = {categoria: categoria, nmcategoria: namecate, html: content, proceso : proceso, nombre: nombre}
                
                
                fetch('/api/documentos', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(documentos)
                })
                .then(res => res.json())
                .then(data =>  location.href ="/answer/"+institucion )
            }else {
                 btnGuardar.disabled = false;
            }
    
        }



        fetch('/api/category/{{id}}', {
            method: 'GET'
        }) 
        .then(res => res.json())
        .then( (data) => { 
            var x = document.getElementById("category");
            
            

            for(const key in data.categoria){
                var option = document.createElement("option");
                
                 option.value = data.categoria[key].id;
                option.text =  data.categoria[key].Nombre;
                x.add(option)
                
            }
            
        });

        fetch('/api/SolServ/{{id}}', {
            method: 'GET'
        }) 
        .then(res => res.json())
        .then( (data) => { 
            var ul = document.getElementById("myUL");
            
            
                
            for(const key in data.SolServ[0]){
               var li = document.createElement("li");
              
                li.appendChild(document.createTextNode("#"+key))
                    ul.appendChild(li);
            }
            
        });

       
        
    </script>